@import '../../../assets/scss/_variables.scss';
@import '../../../assets/scss/_mixins.scss';

$slide-btn-web:40px;
.slide__wrap{
  position: relative;
  padding-bottom: 50px;
  overflow: hidden;

  @include flexCol;
  h3 {
    margin-bottom: 30px;
    color: $red2;
    font-size: 1.4em;
  }
  .slide__box{
    position: relative;

    .slides{
    // position: absolute;
    display: flex;
    left: 0;
    li {
      width: 20%;
      padding: 0 10px;
      @include flexCol;
      .slide__poster{
        transition: transform ease .4s;
        cursor: pointer;
        border-radius: 15px;
        @include backgroundImage;
        margin-bottom :10px;
      }

      .slide__title {
        align-self: center;
        color: $white;
        font-weight: 400;
      }

      &:hover{
        .slide__poster{
          transform: scale(1.2);
        }
      }
    }
  }
  }

 
 
 .slide__controls {
    button {
      position: absolute;
      width: $slide-btn-web;
      height: $slide-btn-web;
      font-size: large;
      opacity: 0;
      transition: opacity ease .4s;
      @include yCenter;
      color: $red1;
      background-color: transparent;
      svg {
        @include widthHeight;
      }

      &#next {
        right: 0;
      }
    }
 
  }
   &:hover {
    .slide__controls{
      button {    
        opacity: 1;
        
      }
    }
  }
}