@import "../../assets/scss/_mixins";

$search-btn: 40px;
header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  // background-color: black;

  .app-header {
    background-color: transparent;
    @include gridCol("col-L");
    height: 80px;
    align-items: center;
    gap: 25px;
    margin: 0 40px;
    overflow: hidden;
  }

  nav {
    .h-nav {
      @include gridCol("col-N");
      gap: 20px;
      a {
        font-size: 1.3em;
      }
    }
  }

  .search-wrap {
    position: relative;

    div {
      position: absolute;
      z-index: 30;
      background: #f2f2f2;
      display: none;
      width: 300px;
      padding: 60px 10px 10px;
      gap: 10px;
    }
    div.on {
      display: grid;
    }
  }

  .Search-form {
    justify-self: end;
    right: 0;
    // background-color: aqua;
    width: 40px;
    // transition: width ease 1.2s;
    form {
      @include gridCol("col");

      button {
        width: $search-btn;
        height: $search-btn;
        background-color: transparent;
        svg {
          &.svg-inline--fa.fa-w-16 {
            @include widthHeigth;
            color: white;
            font-size: medium;
          }
        }
      }
      input {
        padding-left: 10px;
        background-color: transparent;
        color: white;
        font-weight: bold;
      }
    }
    &.on {
      width: 300px;
      background-color: rgb(93, 93, 93);
    }
  }
}
