@import "../../assets/scss/_mixins";
@import "../../assets/scss/_variables";

$epi-pos: 20px;

.detail-page {
  padding: 100px 3% 0;
  .detail-info {
    height: 100%;

    .d-list {
      position: relative;

      &.seasons-wrap {
        color: white;

        .last_episode_to_air {
          @include slideStyle("detail");
          height: auto;
          position: relative;
        }
        .last-s-wrap {
          background-color: rgba(255, 255, 255, 0.041);
          border-radius: 20px;
          overflow: hidden;
          .last-contents {
            margin-top: 20px;
            height: 70%;
            strong {
              padding-right: 20px;
            }
            p {
              margin-top: 50px;
            }
            .epi-btn {
              position: absolute;
              padding: 10px 20px;
              right: $epi-pos;
              bottom: $epi-pos;
            }
          }
        }
      }
    }

    .hero-img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 70%;
      @include backgroundStyle;
      opacity: 0.9;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.74;
      }
    }

    .main-info,
    .last-s-wrap {
      @include gridCol("col");
      gap: 45px;
    }
    .info-wrap {
      display: grid;
      grid-auto-rows: auto;
      gap: 80px;
      .main-info {
        * {
          color: white;
        }

        .poster {
          width: 350px;
          height: 500px;
          border-radius: 15px;
          @include backgroundStyle;
        }
      }

      .contents {
        display: grid;
        height: 90%;
        grid-template-rows: repeat(3, auto) 51% 1fr;

        .title {
          font-size: 2.4em;
          height: fit-content;
          span {
            font-size: 0.7em;
            font-weight: 300;
          }
        }
        .title.en {
          font-size: 1.4em;
          font-weight: 300;
        }

        strong {
          font-size: 1.4em;
        }

        .genres {
          display: flex;
          gap: 6px;
          font-weight: 300;
        }

        .overview {
          width: 70%;
          @include detailMain;
          p {
            height: 100%;
            overflow-y: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;

            &::-webkit-scrollbar {
              display: none;
            }
          }
        }

        .director {
          @include detailMain;
          ul {
            display: grid;
            grid-template-columns: repeat(2, max-content);
            gap: 30px;
          }
        }
      }

      // tv일경우
      .seasons-wrap {
        @include gridCol("col-S");
        gap: 20px;
        .poster {
          width: 220px;
          height: 340px;
          @include backgroundStyle;
        }
        .list {
          @include slideStyle("seasons");
        }
      }

      // movie일 경우
      .keyword {
        height: auto !important;
        color: white;
        h3 {
          margin-bottom: 20px;
        }
        ul {
          display: flex;
          height: fit-content;
          gap: 10px;
          font-size: 1.3em;
          padding-bottom: 20px;
          li {
            height: fit-content;
            button {
              padding: 3px 9px;
              border-radius: 20px;
              &:hover {
                background-color: rgb(207, 209, 207);
              }
            }
          }
        }
      }

      .list {
        @include slideStyle("detail");

        // gap: 80px;
      }
    }
  }
}
