/* Main -----------------------------------------------------------------*/
.main-page,
.search-result-form {
  height: 100%;
  /* overflow-x: hidden; */
}
.main-page > div,
.result-wrap {
  height: 100%;
  display: grid;
  grid-auto-rows: minmax(370px,370px);
  gap: 20px;
  /* padding-right: 50px; */
}
.main-page > div > div,
.result-wrap > div {
  display: grid;
  grid-template-rows: 40px 1fr;
}

/*  */
.view-page {
 height: 100%;

}
.view-page > div {
 padding: 80px 3% 0;
 height: 100%;
}

/* SearchResult ---------------------------------------------------------*/


/* Detail ---------------------------------------------------------------*/
.media-detail {
  /* background-color: green; */

}
.media-detail > .detail {
  display: grid;
  height: 100%;
}
.detail > div {
  display: grid;
  position: relative;
  grid-auto-rows: min-content ;
}
.detail > div.hero-img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;
}
.detail > div.hero-img::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .86;
}
.main-info {
  grid-template-columns: auto 1fr;
  gap: 20px;

}
.main-info * {
  color: white;
}
.poster {
  display: grid;
  width: 80%;
  place-self: center;
  background-color: magenta;
  border-radius: 15px;
  overflow: hidden;
  width: 350px;
}
.poster > img {
width: 100%;
  /* height: 100%; */
}
.contents {
  display: grid;
  height: 90%;
  grid-template-rows: repeat(3,auto) 51% 1fr ;
  /* gap: 20px; */
  /* background-color: mediumslateblue; */
}

.contents > .title {
  font-size: 2.4em;
  height: fit-content;

}
.contents > .title.en {
  font-size: 1.4em;
  padding-bottom: 10px;
  font-weight: 300;
}
.contents > .title > span {
  font-size: 0.7em;
  font-weight: 300;
}
.contents strong {
  font-size: 1.4em;
}
.genres {
  display: flex;
  gap: 6px;
  font-weight: 300;
}
.overview {
  place-self: end;
}
.director {
  /* align-self: center; */
  margin-top: 20px  ;
}
.seasons-wrap {
  background-color: rgb(105, 180, 83);
}
/* similer movie&tv 일경우 */
.similar-wrap {
  background-color: lightcoral;
}

.keyword {
  background-color: rgba(224, 224, 0, 0.863);
}

