/* Main -----------------------------------------------------------------*/
.main-page,
.search-result-form {
  height: 100%;
  overflow-x: hidden;
}
.main-page > div,
.result-wrap {
  height: 100%;
  display: grid;
  grid-auto-rows: minmax(370px,370px);
  gap: 20px;
}
.main-page > div > div,
.result-wrap > div {
  display: grid;
  grid-template-rows: 40px 1fr;
}



/* SearchResult ---------------------------------------------------------*/


/* Detail ---------------------------------------------------------------*/
.hero-img {
  width: 100%;
  height: 300px;
  background-color: lime;
}
.poster {
  width: 100px;
  height: 200px;
  background-color: magenta;
}
.contents {
  background-color: mediumslateblue;
}

.seasons-wrap {
  background-color: rgb(105, 180, 83);
}
/* similer movie&tv 일경우 */
.similar-wrap {
  background-color: lightcoral;
}

.keyword {
  background-color: rgba(224, 224, 0, 0.863);
}

