.slide-wrap {
  height: 100%;
  position: relative;
}
.slide-wrap > .slides {
  background-color: orange;
  position: absolute;
  display: flex;
  height: 100%;
  width: calc(100% * 4);
}
.slides li {
  position: relative;
  display: grid;
  width: 20%;
  height: 100%;
  grid-template-rows: 1fr auto;
  outline: 1px solid green;
}

.slide-wrap li img {
  height: 100%;
  border-radius: 10px;
  place-self: center;
  cursor: pointer;
  position: relative;
}
.slide-wrap li img:hover{
  height: calc(100% + 79px);
  transition: height ease .6s;
  /* position: absolute; */
}
.slide-info {
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-items: center;
}
.controls {
  position: relative;
  top: 50%;

}
.controls > button {
  width: 40px;
  height: 40px;
  position: absolute;
  transform: translateY(-50%);
}
button#next {
  right: 0;
}

.fav-btn {
  /* position: absolute;
  right: 0; bottom: 0; */
  width: 25px; height: 25px;
}