.main-page .list {
  height: auto;
}

.list {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 10px;
}
.slide-wrap {
  height: 100%;
  width: 100%;
  position: relative;
}

.slide-wrap > .slides {
  background-color: orange;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  /* gap: 20px; */
}
.slides li {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  padding: 0 10px;
  /* width: 100%; */
}

.slide-poster {
  /* width: 80%; */
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  place-items: center;
  justify-self: center;
}
.main-page .slide-poster:hover {
  transition: transform ease .6s;
  transform: scale(1.2);
  z-index: 200;
}

.slide-info {
  display: grid;
  grid-template-columns: repeat(2,auto);
  justify-items: center;
}
.controls {
  position: absolute;
  left: 0; 
  right: 0;
  top: 50%;
}
.controls > button {
  width: 40px;
  height: 40px;
  position: absolute;
  transform: translateY(-50%);
}
button#next {
  right: 0;
}

.fav-btn {
  width: 25px; height: 25px;
}