/* Color Theme Swatches in Hex */
.인터랙션-1-hex { color: #F2F2F2; }
.인터랙션-2-hex { color: #BFBFBF; }
.인터랙션-3-hex { color: #737373; }
.인터랙션-4-hex { color: #262626; }
.인터랙션-5-hex { color: #0D0D0D; }
/* Color Theme Swatches in Hex */
/* { color: #252626; }
 { color: #358C7C; }
 { color: #55D9C1; }
 { color: #F2F2F2; }
{ color: #0D0D0D; } */
@import url('./reset.css');

#app {
  height: 100%;
  display: grid;
  grid-template-rows: 80px 1fr;
  gap: 10px;
}
#app > * {padding: 0 50px;}
/* header */
.app-header {
  background-color: rgb(97, 153, 153);
  display: grid;
  grid-template-columns: repeat(3,auto) 1fr;
  height: 100%;
  align-items: center;
  gap: 25px;
}
.h-nav {
  display: grid; 
  grid-template-columns: repeat(2,auto);
  gap: 20px;
}
.search-genres {
  position: relative;
}
.genres-wrap {
  position: absolute;
  z-index: 30;
  background: #F2F2F2;
  display: none;
  flex-wrap: wrap;
  width: 300px;
  padding: 10px;
  gap: 10px;
}

.genres-wrap.on{display: flex;}
.Search-form {
  justify-self: end;
}

/* mainPage */
/* .main-page {width: 100%; overflow-x: hidden; height: 100%;} */
.main-form {height: 100%;}
.main-form > div {
  display: grid;
  position: relative;
  /* grid-template-rows: repeat(2,auto); */
  width: 100%;
  height: auto;
}

.slide-wrap {background-color: khaki;}
.slide-wrap ul {
  position: absolute;
  display: flex;
  gap: 30px;
  grid-template-rows: 1fr;
}
.slide-wrap ul > li, .list-wrap > li {
  width: 300px;

}
.slide-wrap ul > li  img , .list-wrap img{
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}