@import url('./reset.css');
@import url('./main.css');

#app {
  width: 100%;
  min-width: 1500px;
  gap: 10px;
  margin: 0 auto 30px;
}

/* header ---------------------------------------------------------------*/
header { 
  position: fixed;
  left: 0; right: 0;
  z-index: 1000;
}
.app-header {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(3,auto) 1fr;
  height: 80px;
  align-items: center;
  gap: 25px;
  padding: 0 20px;
}
.h-nav {
  display: grid; 
  grid-template-columns: repeat(2,auto);
  gap: 20px;
}

.search-wrap {
  position: relative;
}
.search-wrap > div {
  position: absolute;
  z-index: 30;
  background: #F2F2F2;
  display: none;
  width: 300px;
  padding: 60px 10px 10px;
  gap: 10px;

}

.search-wrap > div.on {
  display: grid;
}

.search-wrap > div > ul {
  outline: 1px solid orange;
  display: grid;
}

.search-types {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 30px;
  top: 10px;
  left: 10px; 
}

.search-types > li {
  cursor: pointer;
}

.Search-form {
  justify-self: end;
  right: 0;
  background-color: lightblue;

}
.Search-form > form {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 40px;
  overflow: hidden;
}
.Search-form > form.on {
  width: 300px;
}
.Search-form button {
  width: 40px;
  height: 40px;
  background-color: rgb(56, 47, 56);
}
.Search-form  input {
  padding-left: 10px;
  box-sizing: unset;
  background-color: lavenderblush;
}


