@import url('./reset.css');
@import url('./main.css');

#app {
  height: 100%;
  /* min-width: 1400px; */
  max-width: 1600px;
  display: grid;
  grid-template-rows: 80px auto;
  gap: 10px;
  margin: 0 auto;
  padding: 20px 3%;

}
/* #app > * {padding: 0 50px;} */

/* header ---------------------------------------------------------------*/
.app-header {
  background-color: rgb(97, 153, 153);
  display: grid;
  grid-template-columns: repeat(3,auto) 1fr;
  height: 100%;
  align-items: center;
  gap: 25px;
}
.h-nav {
  display: grid; 
  grid-template-columns: repeat(2,auto);
  gap: 20px;
}
.search-wrap {
  position: relative;
}
.search-wrap > div {
  position: absolute;
  z-index: 30;
  background: #F2F2F2;
  display: none;
  width: 300px;
  padding: 60px 10px 10px;
  gap: 10px;

}

.search-wrap > div.on {
  display: grid;
}

.search-wrap > div > ul {
  outline: 1px solid orange;
  display: grid;
}

.search-types {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 30px;
  top: 10px;
  left: 10px;
}

.search-types > li {
  cursor: pointer;
}

.Search-form {
  justify-self: end;
}


