#app {
  width: 100%;
  min-width: 1237px;
  max-width: 1300px;
  min-height: 850px;
}
.app-header {
  height: 90px;
  display: flex; 
  justify-content: center;
  align-items: flex-end;

}
.header-wrap {
  position: relative;
  width: 600px;
}
.w-logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
#aA {
  padding-left: 306px;
}
.newStr {
  color: #4b4b4b44;
  font-size: 1.9em;
  font-weight: 900;
}
.search-cont {
  position: absolute;
  height: 37px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.search-cont > form {
  width: 100%;
  height: 100%;
}
.search-cont button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;

}
.search-cont button > i {
  font-size: 1.6em;
  color:#5a5c5185 ;
}

.search-cont > form > input {
  height: 100%;
  width: 100%;
  border-radius:30px ;
  padding: 0 15px;
  border: none;
  font-size: 15px;
  font-weight: 700;
}


/* mainPage ------------------------------------------------- */
.main-page {
  height: calc(100% - 100px);
  display: grid;
  grid-template-rows: 1fr 300px;
  position: relative;
}

/* today ----*/
.today-cont{
  position: relative;
}

.tday-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform:translate(-50%,-50%);
  width: 55%;
  height: 80%;
}
.tday-inner > * {
  position: absolute;
}

/*  */
.td-1 {
  left: 0;
  width: 50%; 
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  height: 100%;
}

.city-name {
  font-size: 3em;
  position: relative;
}
.city-name > i {
  font-size: 38px;
  margin-right: 5px;
  color:gray;
}
.city-name > .coun {
  font-size: 20px;
  color: #584b4bd5;
}
.city-name::after{
  content: '';
  width: 80px;
  height: 6px;
  position: absolute;
  left: 0;
  bottom: 4px;
  background-color: gray;
  border-radius: 40px;
}

/* weather Img */
.weathe-img {
  width: 200px;
  border-radius: 40px;
}
.weathe-img > img {
  width: 100%;
}
/* descraption */
.w-ds {
  position: relative;
  margin-top: 20px;
  height: 30px;
  bottom: 30px;
  font-weight: 700;
}
.w-ds > p {
  text-align: center;
  color: rgb(0, 0, 0);
  position: absolute;
  z-index: 300;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%) ;
}

/*  */
.td-2 {
  right: 0; top: 50%;
  height: 90%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform:translateY(-50%);
  align-items: center;
}
.temp-now {
  font-size: 90px;
  line-height: initial;
  margin: 110px 0 30px;
}

.temp-minmax {
  display: flex;
  gap: 10px;
}

.temp-minmax > p {
  background-color: rgb(255, 248, 248);
  width: 55px;
  height: 55px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;

}
.temp-minmax > p.hight > span {
  color: #e17055;
}
.temp-minmax > p.low > span {
  color: #559de1;
}
.temp-minmax > p.feels > span {
  color: #dfe155;
}
.temp-minmax > p > span {
  font-size: 13px;
  font-weight: 500;
  color: black;
}
.todayIs {
  position: absolute;
  top: 62px;
  right: 66px;
}
/* week ----*/
.week-cont {
  height: 300px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.week-cont::-webkit-scrollbar{
  display: none;
}
.week-cont > ul {
  display: flex;
}
.week-cont > ul li {
  width: 188px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.week-cont > ul li + li {
  border-left: 1px solid rgba(128, 128, 128, 0.267);
}
.week-date {
  color:rgba(128, 128, 128, 0.575) ;
}
.week-temp {
  color:rgba(19, 15, 15, 0.575) ;
  font-weight: bold;
}
.week-DS {
  color: #5e3131a2;
}

/* scroll icon */
#scroll {
  position: absolute;
  left: -50px;
  height: 90px;
  width: 40px;
}

#scroll > span {
  position: absolute;
  left: 0;
  bottom: -10px;
  color: rgba(110, 102, 102, 0.452);
}
.scroll-icon {
  padding-top: 70px;
}
.scroll-icon span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scrollIcon 1.5s infinite;
  animation: scrollIcon 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes scrollIcon {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes scrollIcon {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}