@import '../../../assets/scss/_variables.scss';
@import '../../../assets/scss/_mixins.scss';

@mixin listScroll {
  overflow-x: scroll;
  padding:20px 0 30px;
  background-color: $white;

  &::-webkit-scrollbar {
    height: 10px;
    margin: 10px 0;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #a09d9d44;
    border-radius: 10px;
    height: 10px;
  }
};

.list__wrap {
  display: grid;
  row-gap: 40px;
  width: 100%;
  @include maxWidth;



  .lists {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    
    li {
      padding: 0 10px;
      width: 17%;

      .list__image{
        background-color: $white;
        width: 100%;
        display: flex;
        justify-content: center;
        border-radius: 15px;;
        align-items: center;
        cursor: pointer;
        @include backgroundImage;
        span{
          background-color: transparent;
          color: rgb(144, 133, 133);
        }
      }
    };
  }

  &.k-search {
     .lists {
      li {
        width: 20%;
      }
    }
  }
  &.person {
    .lists {
      li {
        width: 10%; 
      }
    }
  }


  &.cast {
 
    .list__box {    
      @include listScroll;
    } 
    .lists {
      flex-wrap: nowrap;
      li {
        width: 10%;
        @include flexCol; 
      }
    }
  }

  &.similar,
  &.recommend {
    .list__box {    
      @include listScroll;
    } 
    .lists {
      flex-wrap: nowrap;
      li {
        width: 25%;
        @include flexCol; 
      }
    }
  }
}

