@mixin gridCol($col) {
  display: grid;
  @if $col == 'col-L' {
    grid-template-columns: repeat(3,auto) 1fr;
  } @else if $col == 'col-N' {
    // grid-auto-columns: auto;
    grid-template-columns: repeat(2,auto);
  } @else {
    grid-template-columns: auto 1fr
  }
}

@mixin widthHeigth {
  width: 100%;
  height: 100%;
}


@mixin backgroundStyle {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin slideStyle($type) {
  display: grid;
  gap: 20px;
  @if $type == 'main' {
    grid-auto-rows: minmax(100px, 550px);
  } @else if $type == 'detail' {
    grid-auto-rows: auto;
    height: 300px;
  } @else if $type == 'seasons' {
    grid-auto-rows: auto;
    height: 200px;
  }
}