@mixin gridCol($col) {
  display: grid;
  @if $col == "col-L" {
    // grid-template-columns: repeat(3, auto) 1fr;
    grid-template-columns: repeat(2, auto) 1fr;
  } @else if $col == "col-N" {
    // grid-auto-columns: auto;
    grid-template-columns: repeat(2, auto);
  } @else if $col == "col-S" {
    grid-auto-rows: auto;
  } @else {
    grid-template-columns: auto 1fr;
  }
}

@mixin widthHeigth {
  width: 100%;
  height: 100%;
}

@mixin backgroundStyle {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin slideStyle($type) {
  display: grid;
  gap: 20px;

  @if $type == "main" {
    // grid-template-rows: auto;
    gap: 100px;
  } @else if $type == "detail" {
    grid-template-rows: auto 1fr;
    height: 300px;
  } @else if $type == "seasons" {
    // height: 200px;
  } @else if $type == "slide" {
    grid-template-rows: 1fr 20%;
    justify-items: center;
  } @else if $type == "search" {
    grid-template-rows: repeat(3, 1fr);
  }
}

@mixin detailMain {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
  margin-top: 20px;
}
