@import "../../assets/scss/_mixins";

$slide-btn: 3%;
$slide-pos: -3%;
$slide-pdr: 10px;

$fav-btn: 35px;
$f-color: white;

.slide-wrap {
  @include widthHeigth;
  position: relative;

  .slides {
    position: absolute;
    @include widthHeigth;
    display: flex;
    z-index: 100;
    transition: left ease 0.8s;

    li {
      position: relative;
      padding: 0 $slide-pdr;
      @include slideStyle("slide");

      .slide-poster {
        @include backgroundStyle;
        width: 100%;
        border-radius: 10px;
        cursor: pointer;

        .favorite {
          background-color: transparent;
          position: absolute;
          top: 5px;
          right: $slide-pdr + 5px;
          width: $fav-btn;
          height: $fav-btn;
          font-size: x-large;
          display: grid;
          place-items: center;
          display: none;
          opacity: 0.3;

          &:hover {
            opacity: 1;
          }
        }
        .fav {
          @include widthHeigth;
          color: rgb(190, 175, 35);
        }
      }
    }
  }

  .controls {
    position: absolute;
    top: 0;
    @include widthHeigth;
    button {
      // background-color: lime;
      position: absolute;
      width: 3%;
      height: 100%;
      top: 0;
      bottom: 0;
      background-color: transparent;
      color: $f-color;
      top: 50%;
      transform: translateY(-50%);
      z-index: 400;
      opacity: 0.3;

      &:hover {
        opacity: 1;
        background-color: rgba(128, 128, 128, 0.055);
      }
      &.prev {
        left: $slide-pos;
      }
      &.next {
        right: $slide-pos;
      }
      svg {
        // @include widthHeigth;
        width: 100%;
        font-size: 20px;
      }
    }
  }

  .slide-info {
    h4 {
      font-size: 0.9em;
    }
  }
}

.main-page {
  .slide-poster {
    &:hover {
      transition: transform ease 0.6s;
      transform: scale(1.2);
      z-index: 200;
      position: relative;

      .favorite {
        right: 5px !important;
        display: block !important;
      }
    }
  }
}

.list {
  color: $f-color;
}

.cast {
  .favorite {
    display: none !important;
  }
  .slide-info {
    gap: 3px !important;
    display: grid;
    place-items: center;
    p {
      font-size: 0.7em;
    }
  }
}

.similer {
  .favorite {
    width: 30px !important;
    height: 30px !important;
  }
}
