@import '../../assets/scss/_mixins.scss';
@import '../../assets/scss/_variables.scss';
$detail-hero-web:600px;
$detail-hero-tablet:400px;
$detail-hero-phone:400px;

.detail__inr{
  .detail__hero__wrap{
    @include heroBlock($detail-hero-web);

    .hero__img {
      @include heroBackground;   
      .hero__cover{
        @include widthHeight;
        background-color: #0d0d0db9;
      }
    }

    .hero__content{
      position: absolute;
      @include center;
      width: 80%;
      display: grid;
      column-gap: 45px;
      grid-template-columns: 30% 1fr;

      .detail__img{
        @include backgroundImage;
        border-radius: 20px;
        max-width: 365px;
        
      }
      
      .hero__info__box{
        display: grid;
        grid-template-rows: repeat(4,max-content) 1fr ;
        background-color: #0d0d0db9;
        border-radius: 20px;
        padding: 10px;
        > * {
          padding-bottom: 10px;
          &:last-child {
            padding-bottom: 0;
          }
        }
        * {
          color:$white;
        }

        .genres{
          display: flex;
          column-gap: 10px;
        }

        .watch__provider{
          height: 80px;
          display: flex;
          background-color: #0d0d0db9;
          > div {
            width: 50%;
            padding: 0 9px 6px;
            display: grid;
            row-gap: 5px;
            grid-template-rows: max-content 1fr;
            ul {
              display: flex;
              column-gap: 5px;
              li {
                @include widthHeight;
                @include backgroundImage;
              }
            }
            strong { 
              color: rgba(245, 245, 245, 0.411);
              font-weight: 400;
            }
           
          }

          p {
            font-size: small;
            color: rgba(245, 245, 245, 0.411);
          }
        }
      }
    }
  }
  
  .detail__contents {
    @include flexCol;
    @include maxWidth;
    padding:0 60px ;
    h3 {
      font-size: 1.6em;
      @include h3Style;
    }
    row-gap: 70px;
    > div {
      display: grid;
      row-gap: 20px;
    }
    .detail__keywords {

      .keywords{
        display: flex;
        flex-wrap: wrap;
        gap:25px 15px ;
        
        .keyword {
          cursor: pointer;
          background-color: $white;
          padding: 3px 10px;
          transition: all ease .3s;
          color: $black;
          &:hover {
            background-color: $red2;
            color: white;
          } 
        }
        p {
          color: #0d0d0d67;
        }
      }
    }
  }
}