<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>data-binding</title>
  </head>
  <body>
    <div id="app">
      <p v-bind:id="uuid">{{num}}</p>
      <p :class="name">{{doubleNum}}</p>

      <div v-if="load">
        <!--  dom상에서 완전히 지워 버린다. -->
        Loading....
      </div>
      <div v-else>
        test user has been logged in
      </div>
      <div v-show="load">
        <!-- v-if와의 차이점은 display:none시켜 dom 상에 존재 시킨다. -->
        difference
      </div>
    </br></br></br></br>
      <input type="text" v-model="message" placeholder="add to do" />
      <p>{{message}}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          num: 10,
          uuid: "abc1234",
          name: "text-blue",
          load: true,
          message: "",
        },
        computed: {
          doubleNum: function () {
            return this.num * 2;
          },
        },
      });
    </script>
  </body>
</html>
