@import '../../assets/scss/_variables.scss';
@import '../../assets/scss/_mixins.scss';

$search-btn:37px;
@mixin showBtn {
  background-color: $red2;
  color: $white;
}

.header__wrap{
  position: fixed;
  left: 50%;
  right: 0;
  top: 0;
  transform: translateX(-50%);
  width: 100%;  
  z-index: 100;
  transition: background-color ease .4s;
  .h__logo {
    padding-right: 20px;
  }
  &.dark {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    background-color: $white;
    .header__inr {
      .h__nav {
        ul {
          a { 
            color: $black;
          }
        }
      }
      .search__form{
        form {
          button {
            color: $black;
          }
          &.show {
            input {
              // background-color: $black;
              box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
            }
            button {
              color: $white;
            }
          }
        }
      }
    }
  }
}
.header__inr{
  @include maxWidth;
  display: grid;
  grid-template-columns: repeat(2, max-content) 1fr;
  padding: 10px 20px;
  height: $webHeader;
  
  .h__logo {
    margin-right: 20px;
    align-self: center;      
    display: flex;
    a {
      color: $red2;
    }

  }

  .h__nav{
    ul {
      display: flex;
      height: 100%;
      align-items: center;
      column-gap: 18px;
      a {
        color: $white;
        font-weight: bold;
        position: relative;
        &.checked{
          &:after {
            @include contentBox;
            height: 3px;
            background-color:$red2;
            left: 0;
            bottom: -2px;
            z-index: -1;
          }
        }
      }
    }
  }

  .search__form {
    display: flex;
    align-items: center;
    justify-self: self-end;
    form {
      display: flex;

      input {
        width: fit-content;
        padding: 3px 10px;
        width: 0;
        transition: width ease .4s;
      }
      
      button {
        width: $search-btn;
        height: $search-btn;
        font-size: large;
        background-color: transparent;
        color: $white;
        transition: all ease .2s;
        &:hover{
          @include showBtn;
        }
      }

      &.show {   
        background-color: $white;
        input {
          width: 250px;
        }
        button {
          @include showBtn;
        }
      }
    }
  }
  
}