/* app */
#app {
    padding: 0 1.5%;
    /* max-width: 1766px;*/
    min-width: 1040px; 
text-align: center;
}

/* common */
.clear::after {
    content: '';
    display: block;
    clear: both;
}
.bar::after {
    content: '';
    width: 1px;
    height: 12px;
    background-color: rgb(199, 193, 193);
    vertical-align: middle;
    position: absolute;
    top: 4px;
    right: 0;
}

/* appHeader------------------------------------------------------- */
.mHeader {
    padding-top: 30px ;
   
}
.mHeader .logo {
    display: block;
    font-size: 60px;
    line-height: 100%;
    font-weight:900;
    margin: 0 auto;
}


/* searchForm------------------------------------------------------- */
.wrap {
    height: 30vh;
    padding: 30px 0;
    position: relative;
}
.wrap.search > * {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
}
.bgImg {
    width: 70%;
    height: 100%;
}
.bgImg > div {
    width: 100%;
    height: 100%;
    background-image: url('../images/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c.gif');
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: .6;
}
.form {
    display: block;
    padding:10px;
    text-align: center;
    top: 10%;
    background-color: #2c3e50;
    width: 68%;
    height: 50px;
}
.form > * {
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
}
select {
    width: 12%;
    border: 0;
    font-size: 15px;
    padding: 0 3px;
    font-weight: 600;
    color: rgb(68, 67, 67);
}

#title-input {
    width: 83%;
    border: 0;
    padding: 0;
    font-size: 20px;
    padding: 0 7px;
}
.form > button{
    width: 5%;
}
.form > button > i {
    width: 100%;
    color: #fff;
    vertical-align: middle;
    text-align: right;
}
.fa-search:before {
    font-size: 30px;
}
/* genresearch */
.genre-wrap > h3 {
    margin-top: 30px;
    opacity: .1;
}
.genre-wrap:hover > h3 {
    opacity: .4;
}
.genre-btn {
     display: flex;
    align-items: center;
    justify-content: center;
}
.genre-btn > button {
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius:50% ;
    opacity: 0.7;
    font-weight: 500;
    color: rgb(255, 255, 255);
}
.genre-btn > button:hover {
    opacity: 1;
}
.genre-btn > button+button{
    margin-left: 20px;
}
.genre-btn > button:nth-child(1){background-color: #78909C;}
.genre-btn > button:nth-child(2){background-color: #789c93;}
.genre-btn > button:nth-child(3){background-color: #869c78;}
.genre-btn > button:nth-child(4){background-color:#9c9b78 ;}
.genre-btn > button:nth-child(5){background-color: #9c8878;}
.genre-btn > button:nth-child(6){background-color: #9c7878;}
.genre-btn > button:nth-child(7){background-color: #9c7889;}
.genre-btn > button:nth-child(8){background-color: #9c7896;}

/* infoForm ---------------------------------------------------------*/
.wrap.info {
    padding-top: 70px;
}
.movie-container::after {
    content: "";
    display: block;
    clear: both;
}
.movie-container > li {
    /* outline:  1px solid green; */
    float: left;
    width: 25%;
    height: 400px;
    position: relative;
    margin-bottom: 60px;
}
.movie-container > li > a {
    display: block;
    width: 210px;
    height:310px;
    overflow:hidden;
    margin: 0 auto;
    position: relative;
    margin-bottom: 16px;
}
.movie-container img {
    width: 100%;
    height: 100%;
}
.info-wrap {
    background-color: black;
    position: absolute;
    left: 0; top: 0;right: 0;bottom: 0;
    z-index: 100;
    color: blanchedalmond;
    opacity: 0;
    padding: 4px;
    box-sizing: border-box;
    transition: 0.2s ease-in;
}
.info-wrap > * {
    display: block;
}
.movie-container > li > a:hover .info-wrap{
    opacity: .7;
}

.plot {
    height:15em;
    overflow: hidden;
    text-overflow:ellipsis;
    display: -ms-flexbox;
    word-wrap: break-word;
    -webkit-line-clamp:6;
    -webkit-box-orient: vertical;
    display:-webkit-box;
}
.more-btn {
    font-size: 15px;
    padding: 10px;
    position: absolute;
    bottom: 5px; left: 50%; 
    transform: translateX(-50%);
    width: 39%;
    background-color: white;
    color: black;
    font-weight: 700;
}

.more-btn:hover {
    
    color: crimson;
}

/*  */
.txt-box{
    text-align: center;
}
.txt-box > *{
    display: block;
}
.title-ko {
    font-size: 18px;
    font-weight: 500;
}
.directorNm {
    font-size: 10px;
}


/* detailForm -------------------------------------------------------- */
.wrap.detail {
    padding: 30px 12%;
    height: auto;
}
.main > form {
    position: relative;
    padding-top: 70px;
    text-align: left;
}
h5 {
    font-size: 26px;
    text-align: left;
    padding: 4px 7px;
    font-weight: 600;
    color: #2eb3ac;
    position: absolute;
    top: 0;
    border-bottom:2px solid #2eb3ac;
}


.main-wrap h5 {
    float: none;
}
.main-wrap > *  {
    float: left;
}
.de-poster {
    width: 210px;
    height: 310px;
    margin-right: 30px;
}
.de-poster > .poster {
    width: 100%;
}

.detail-box > * {
    display: block;
    margin-top: 3px;
}
.detail-box .title-ko {
    font-size: 29px;
    line-height: 35px;
}
.etc > span{position: relative;}
.genre {padding-right: 4px;}
.date {padding:  0 3px;}
.rating {padding-left: 4px;}
.directorNm-ko {
    position: relative;
    padding-right: 7px;
}
.directorNm-ko.bar::after {right:3px;}
.de-plot {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 20px;
    padding: 7px 0;
}
/*  */
.stils-cut{
    padding:30px 0 50px !important;
    height: 540px;
   
}
.stils-cut > div {
    height: 100%;
     outline: 1px solid #2eb3ac;

}