@import "./_mixins";
@import "./_variables";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap");

/* reset -----------------------------------------------------------------*/
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  
}
* {
  &::selection {
    background-color: $red2;
  }
}

body {
  overflow: hidden scroll;
  background-color: #ffffff;
}

h1,
p,
ul {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  width: fit-content;
}

input,
select,
textarea {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  resize: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  &.on {
    font-weight: bolder;
  }
}

li {
  list-style: none;
}

button {
  font-family: inherit;
  font-size: 90%;
  margin: 0;
  cursor: pointer;
  border: none;
  &:focus {
    outline: none;
  }
  &:active {
    background-color: lightcoral;
  }
}
input:focus {
  outline: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

i {
  font-style: normal;
}

#app {
  width: 100%;   
  margin: 0 auto;

  > div {
    height: 100%;
    padding: $webHeader 0 100px;

    > div {
      // padding: 0 40px;
    }

    &.home__wrap,
    &.movie__wrap,
    &.tv__wrap {
      padding-top: 0;
      > div {
        // padding: 0;
      }
    }
  }
}

