@import '../../assets/scss/_mixins.scss';
@import '../../assets/scss/_variables.scss';

$hero-web:600px;
$hero-tablet:300px;
$hero-phone:250px;

.main__inr{
  padding-bottom: 100px;

  .hero__wrap{
    height: $hero-web;
    margin-bottom: 50px;
    position: relative;
    .hero__img{
      @include widthHeight;
      @include backgroundImage;
      background-position: top;
    }
    .hero__cover{
      background-color: #0d0d0d78;
      @include widthHeight;
    }
    .hero__content{
      position: absolute;
      width: 50%;
      @include yCenter;
      left: 8%;
      @include flexCol;
      row-gap: 10px;
      * {
        color:$white;
      }
      strong {
        font-size: 2.3em;
      }
      p {
        font-size: 1em;
        color: #f2f2f28f;;
      }

    }
  }

  .main__contents{
    width: 90%;
    @include maxWidth;
    @include flexCol;
    row-gap: 60px;
  }
}